.control-gird {
  padding-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}


@media(max-width:1000px){
  .control-gird {
  
    
    grid-template-columns: repeat(2, 1fr);
  }
  
}


@media(max-width:600px){
  .control-gird {
  
    
    grid-template-columns: repeat(1, 1fr);
  }
  
}